/*---------- MEDIA QUERIES ------------- */

@media (max-width: 768px) {

  .header-wrapper .search-wrapper {
    display: none;
  }

  .header-wrapper .sidebarbtn-wrapper {
    margin-left: auto;
  }

  .mobile-search {
    margin-top: 1rem;
    display: flex !important;
  }

  .logo-wrapper {
    margin-right: 1rem;
  }
}

@media (max-width: 991px) {
  .container .header-wrapper {
    padding-bottom: 0;
  }

  .actionbtn-wrapper {
    display: none;
  }

  .header-wrapper .search-wrapper .search {
    display: inline;
    width: 174px;
    margin-left: 40px;
  }

}

@media (max-width: 1260px) {

  .search-wrapper .search {
    display: none;

  }

  .header-wrapper .search-wrapper {
    width: auto;

    >.searchbtn {
      border-radius: 3px 3px 3px 3px;
      height: 56px;
    }
  }

}

@media (min-width: 1200px) {
  .logo-wrapper {
    width: 32%;
  }
}

/*---------- HEADER ------------- */

header {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;


}

#net-logo {
  display: block;
  width: auto;
}

.sidebarbtn-wrapper .sidebarbtn {
  width: 4rem;
  height: 56px;
  font-size: 2rem;
}


.header-wrapper {
  padding-bottom: 1.3rem;
  display: flex;

}

.actionbtn-wrapper {
  margin-left: auto;
}

/*---------- MULTI-STYLES ------------- */
.search-wrapper,
.actionbtn-wrapper,
.sidebarbtn-wrapper {
  align-self: center;
}

.search-wrapper,
.sidebarbtn-wrapper,
.btn-contact {
  margin-left: 20px;
}


/*---------- ACTION BUTTONS ------------- */
.btn-support {
  color: white;
  background-color: #4183d7;

  &:hover {
    color: white;
    background-color: darken(#4183d7, 10%);
  }

  &:focus {
    color: white;
    background-color: darken(#4183d7, 10%)!important;
  }
}

.btn-contact {
  color: white;
  background-color: #999aa2;
  margin-left: 10px;

  &:hover {
    color: white;
    background-color: darken(#999aa2, 10%);
  }

  &:focus {
    color: white;
    background-color: darken(#999aa2, 10%);
  }
}

.actionbtn-wrapper .actionbtn {
  height: 56px;
  font-size: 1.125rem;
  text-align: center;

  >i {
    padding-right: 5px;
    font-size: 1.3rem;
  }
}

/*---------- SEARCH ------------- */
.search-wrapper .searchbtn,
.search-wrapper-mobile .searchbtn {
  color: white;
  background-color: #999aa2;
  width: 4rem;
  font-size: 1.3rem;
  border-radius: 0 5px 5px 0;

}

.searchbtn:hover {
  background-color: darken(#999aa2, 10%);
}

.search-wrapper {
  display: flex;
  flex-wrap: nowrap;

  >.search {
    width: 240px;
    height: 56px;
  }
}

.search-wrapper-mobile {
  display: flex;
  flex-wrap: nowrap;
}

.mobile-search {
  display: none;
}