/*---------- MEDIA QUERIES ------------- */

@media (max-width: 992px) {
    .email-sign-up .row {
        flex-direction: column;

    }

    .email-sign-up .signup-check {
        flex-direction: row;
    }

    .inputarea> :last-child {
        margin-top: 1rem;
    }

    .signup-check>div {


        margin-right: 0 !important;

    }
}

/*---------- NEWSLETTER ------------- */

.inputtag::after {
    content: "*";
    color: #d24d57;
}

.emailhead {
    margin-bottom: 1rem;
}

.emailwrap {
    background-color: #ddd;
}

.email-sign-up {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.inputtag {
    font-weight: 600;
    padding-bottom: .5rem;
}

.inputfields {
    width: 100%;
    padding: 5px 15px;
    height: 47px;
    border: none;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border: 1px solid #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, 0.6);


    }

}

.btn-email {
    margin-top: 2rem;
    color: white;
    background-color: $baseclr;


}

.btn-email:hover {
    color: white;
    background-color: darken($baseclr, 10%);
    border-color: darken($baseclr, 10%);
}

#sign-up {

    width: 2rem;
    height: 2rem;
    background-color: #ddd;
    border: #333645 solid 3px;

}

#sign-up:checked {
    background-color: #333645 !important;
}

#sign-up-text {

    float: left;
    display: inline;
    font-weight: 600;

    >a {
        text-decoration: underline;
    }

}

.signup-check {
    margin-top: 1rem;

    >div {
        margin-right: -2rem;
    }
}