/*---------- PARTNER BANNER ------------- */

.carousel-inner {

    text-align: center;
  }
  .carousel-item{
    height: 75px;
    
  }
  #carousel {
    
    margin-top: 30px;
    margin-bottom: 30px;
  }
  